@import "partials/about";
@import "partials/education";
@import "partials/experience";
@import "partials/projects";
@import "partials/forms";
html, body{
  margin: 0;
  padding:0;
  width: 100%;
  height: 100%;
  //overflow: hidden;
}

  nav{
    background: white;
    top: 0;
    //height: 50px;
    //border: 1px solid black;
    width: 50%;
    margin: 0 auto;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    //grid-template-rows: 100%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    a{
      font-size: 1.3rem;
      color: #78A8E2;
      text-decoration: none;
      margin: 10px;
      padding: 10px;
      text-align: center;
      vertical-align: middle;
      border-radius: 5px;
    }
    a:hover{
      background: lightgray;

    }
  }


#header{
  background: #345995;
  height: 100%;
  div{
    color: #ffffff;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    #profile-image{
      margin-top: 50px;
      //background: url("../images/profile-image.png");

      height: 350px;
      width: 350px;
    }
    h1{
      font-size: 2.5rem;
      margin: 10px 0 0 0;
    }
    h2{
      font-size: 1.5rem;
      color: #78A8E2;
      margin: 0 0 10px 0;
    }
    button{
      cursor: pointer;
      background: transparent;
      color: #ffffff;
      font-size: 1em;
      font-weight: bold;
      height: 50px;
      padding: 10px;
      border: 2px solid white;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      border-radius: 15px;
      outline: none;
    }
    button:hover{
      color: #78A8E2;
      background: rgba(0,0,0, .3);
      border-color: #78A8E2;
      box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.9);
    }
    button:active{
      box-shadow: inset 1px 1px 3px rgba(0,0,0,0.9);
      outline: none;
    }
    #skills{
      li{
        cursor: pointer;
        display: inline-block;
        font-size: 1.3rem;
        padding: 10px;
        margin: 5px;
        //width: 50px;
        list-style: none;
        background: rgba(0,0,0,.3);
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
      }
    }
  }
}
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, .8);
  /*filter:alpha(opacity=50);*/
  /*-moz-opacity:0.5;*/
  /*-khtml-opacity: 0.5;*/
  /*opacity: .8;*/
  z-index: 10000;
}

footer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  #bottom-split{
    grid-column-start: 1;
    grid-column-end: 4;
    background: #345995;
    height: 100px;
  }
  ul{
    margin-left: 25%;
  }
  li{
    display: inline-block;
    list-style: none;
    margin: 5px 10px;
    a{
      font-size: 2rem;
      color: black;
    }
  }
  #copyright{
    text-align: center;
    grid-column-start: 1;
    grid-column-end:4;
  }
}
.shadow{
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.9);
}
#about, #experience, #education, #projects{

  padding: 20px 0;
}





