#experience{
  background: #eae9ec;
  box-shadow: 4px 1px 4px 1px rgba(0, 0, 0, 0.9);
  h2{
    width: 25%;
    margin: 5px auto;
    text-align: center;
    border-bottom: 3px solid #78A8E2;
  }
  .experience-item{
    background: whitesmoke;
    width: 50%;
    padding: 5px;
    border: 1px solid black;
    margin: 10px auto;
    div{
      width: 90%;
      margin: 0 auto;
      h3{
        margin-bottom: 0;
      }
      h4{
        margin-top: 0;
        margin-bottom: 0;
        font-style: italic;
      }
      ul{
        margin-top: .5rem;
      }
    }
  }
}