#experience{
  background: #bbbabd;
  h2{
    text-align: center;
  }
  .experience-item{
    background: whitesmoke;
    width: 50%;
    padding: 5px;
    border: 1px solid black;
    margin: 10px auto;
  }
}