.contact{
  display: none;
  background: #345995;
  padding: 10% 0;

  form{
    background: #345995;
    font-size: 1.5rem;
    text-align: center;
    width: 50%;
    border-radius: 5px;
    margin: 0 auto;
    padding: 0 0 50px 0;
    display: grid;
    grid-template-columns: 1fr;
    a{
      color: #fff;
      float: right;
      text-align: right;
      margin: 10px;
    }
    h3{
      color: #fff;
    }
    input{
      height:30px;

    }

    textarea{
      margin-bottom: 5px;
      height: 100px;
      resize:none;
    }
    input, textarea{
      margin: 5px auto;
      color: white;
      padding: 5px;
      background: rgba(0,0,0,.3);
      border:none;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      font-size: 1rem;
      width:30rem !important;
    }
    textarea::placeholder,input::placeholder{
      color: white;
      font-size: 1rem;
      font-weight: bold;
    }
    button{
      font-size: 1rem;
      color: #78A8E2;
      border: none;
      height: 35px;
      border-radius: 5px;
      width:30rem !important;
      margin: 5px auto;
    }
  }
}