#contact{
  background: #345995;
  padding: 15px 0;
  form{
    font-size: 1.5rem;
    text-align: center;
    width: 30%;
    margin: 0 auto;
    //padding: 0 30%;
    display: grid;
    grid-template-columns: 5fr;
    input{
      height:25px;
      width:30rem !important;
      margin-bottom: 5px;
    }
    textarea{

      margin-bottom: 5px;
      height: 100px;
    }
    button{
      font-size: 1rem;
      color: #78A8E2;
      border: none;
      height: 30px;
      border-radius: 5px;
    }
  }
}