#projects{
  background: #eae9ec;
  box-shadow: 4px 1px 4px 1px rgba(0, 0, 0, 0.9);
  h2{
    width: 25%;
    margin: 5px auto;
    text-align: center;
    border-bottom: 3px solid #78A8E2;
  }
  .project-item{
    background: #ffffff;
    width: 50%;
    padding: 5px;
    border: 1px solid black;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    img{
      width: 150px;
      height: 125px;
    }
    h3{
      margin: 5px 0;
    }
    p{
      margin: 5px 5px 1px 0;
    }
    .icon-right{
      margin-right: 10px;
      float: right;
      a{
        margin: 5px;
        color: #000;
        font-size: 1.5rem;
      }
    }
  }
}